*, ::after, ::before {
    box-sizing: inherit;
}

body {
    color: #4a4a4a;
    background-color: #eee;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

body, button, input, optgroup, select, textarea {
    font-family: Nunito Sans,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.stickyHeader {
    position: relative;
}

.stickyHeader-header {
    position: sticky;
    left: 0;
    top: 3.5rem;
    right: 0;
    z-index: 5;
}

.scheduleHeader.is-primary {
    color: #fff;
    background-color: #b7007e;
}
.scheduleHeader {
    padding: .75em 1.5rem;
}



.artGalleryView-sessions {
    columns: 360px;
    column-gap: 1.5rem;
    margin: 1.5rem;
}

.artGalleryView-session:not(:last-child) {
    margin-bottom: 1.5rem;
}
.artGalleryView-session {
    padding: 24px;
    background: #fff;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.02),0 0 0 1px rgba(10,10,10,.01);
    break-inside: avoid;
    -moz-column-break-inside: avoid;
    border-radius: 6px;
}

.sessionTile-attributes, .sessionTile-header, .sessionTile-info {
    margin-bottom: .5em;
}

.sessionHeader {
    color: #7a7a7a;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.25rem;
    text-transform: uppercase;
}

div.icon-text {
    display: flex;
}
.icon-text {
    align-items: flex-start;
    color: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    vertical-align: top;
}

.icon-text .icon:not(:last-child) {
    margin-right: .25em;
}
.icon-text .icon {
    flex-grow: 0;
    flex-shrink: 0;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
span {
    font-style: inherit;
    font-weight: inherit;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-fw {
    width: 1.25em;
}
.svg-inline--fa.fa-w-12 {
    width: 0.75em;
}
.svg-inline--fa.fa-lg {
    vertical-align: -0.225em;
}
.fa-fw {
    text-align: center;
    width: 1.25em;
}
.fa-lg {
    font-size: 1.3333333333em;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}






.sessionTile-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.sessionTile-description {
    color: #7a7a7a;
    font-size: .9em;
    max-width: 720px;
}



.sessionTile-attributes, .sessionTile-header, .sessionTile-info {
    margin-bottom: .5em;
}




.speakerGrid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}


.speakerGrid-speaker {
    display: flex;
    flex-basis: 280px;
    flex-grow: 0;
    padding-bottom: 15px;
    vertical-align: top;
}

.speakerGrid-headshot {
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
}

.speakerGrid-headshot img {
    width: 42px;
    height: 42px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 290486px;
}

.speakerGrid-speakerInfo {
    flex: 1;
    -webkit-padding-end: 2rem;
    padding-inline-end: 2rem;
}

.speakerGrid-name {
    min-height: 1.5em;
    margin-bottom: 0;
    font-weight: 700;
    color: #363636;
}

.speakerGrid-role {
    color: #757a8a;
    font-size: .75rem;
}


.buttons.is-right {
    justify-content: flex-end;
}
.buttons:last-child {
    margin-bottom: -.5rem;
}
.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}







.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: .25rem;
    margin-right: .25rem;
}
.button.is-small:not(.is-rounded) {
    border-radius: 6px;
}
.buttons .button {
    margin-bottom: .5rem;
}
.button.is-small {
    font-size: .75rem;
}
.button.is-success {
    background-color: #0cc;
    border-color: transparent;
    color: #fff;
}
.button {
    font-weight: 700;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.1em - 1px);
    padding-left: .7em;
    padding-right: .7em;
    padding-top: calc(.1em - 1px);
    text-align: center;
    white-space: nowrap;
}
.button, .file, .is-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button, .file-cta, .file-name, .input, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-top-width: 1px;
        border-right-color: transparent;
        border-right-width: 1px;
        border-bottom-color: transparent;
        border-bottom-width: 1px;
        border-left-color: transparent;
        border-left-width: 1px;
    border-radius: 8px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
    vertical-align: top;
}